# Visual Studio and VS Code
*.suo
*.snk
/.vs
/.vscode

# JetBrains (IntelliJ, Rider, etc.)
.idea/

# Build output
*/bin
*/obj
*.exe

# Other
*.log
*.pdb
*.db
*.swp
*.DotSettings.user

# NuGet
/packages

# FDK
/FDK/bin

# L-Taiko
/L-Taiko/bin
/L-Taiko/Cache
/L-Taiko/Capture_img
/L-Taiko/Config.ini
/L-Taiko/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/Test/dll/FDK.dll
/L-Taiko/NamePlate.json
/L-Taiko/Favorite.json
/L-Taiko/RecentlyPlayedSongs.json
/L-Taiko/SongsIgnored/*
/L-Taiko/SongsTest/*
/L-Taiko/SongsIgnored2/*
/L-Taiko/Saves

/L-Taiko/System/SimpleStyle 1080p (indev0.6.0)
/L-Taiko/System/BasicStyle
/L-Taiko/System/OpenSkin
/L-Taiko/System/SimpleStyle - コピー
/L-Taiko/Global/Characters/D
/L-Taiko/Global/Characters/Ume
/L-Taiko/Global/Characters/Kuro
/L-Taiko/Global/Characters/Aitritus
/L-Taiko/Global/Characters/Kohaku
*.score.ini

/OpenTaiko Launcher
/OpenTaiko Launcher/node_modules
